{{ 'announcement-bar.css' |  asset_url |  stylesheet_tag}}

<style>
  .section-{{ section.id }}-color{
    background-color: {{ section.settings.bg_color }};
  }

</style>
 
<div class="announcement-bar-section section-{{ section.id }}-color">
  <div class="page-width announcement-bar">
    {% for block in section.blocks %}
      {% case block.type %}
      
        {% when 'text' %}
          <div class="bar-left">
            <p class="bar-text">{{ block.settings.text }}</p>
            <p class="bar-text">{{ block.settings.text2 }}</p>
            
          </div>  
        {% when 'announcement' %}
            <p class="small_body announcement-text">{{ block.settings.text1 }}</p>        
        {% else %}
      {% endcase %}
    {% endfor %}  
    <p class="small_body bar-right">Gift card</p>

  </div>
</div>


{% schema %}
{
  "name": "t:sections.announcement-bar.name",
  "max_blocks": 12,
  "class": "announcement-bar-section",
  "enabled_on": {
    "groups": ["header"]
  },
  "settings": [
    {
      "type": "color",
      "id": "bg_color",
      "label": "Background color",
      "default": "#000"
    }
  ],
  "blocks": [
    {
      "type": "text",
      "name": "Text",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "default": "Welcome to our store",
          "label": "Text"
        },
        {
          "type": "text",
          "id": "text2",
          "default": "Welcome to our store",
          "label": "Text"
        }
       
      ]
    },
    {
      "type": "announcement",
      "name": "t:sections.announcement-bar.blocks.announcement.name",
      "settings": [
        {
          "type": "text",
          "id": "text1",
          "default": "Welcome to our store",
          "label": "t:sections.announcement-bar.blocks.announcement.settings.text.label"
        }
        
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.announcement-bar.presets.name",
      "blocks": [
        {
          "type": "text"
        },
        {
          "type": "announcement"
        }
      ]
    }
  ]
}
{% endschema %}
